{% extends "layout.html" %}
{% block body_content %}

<head>

    <link rel="stylesheet" href="{{url_for('static', filename='css/blogpostcss.css')}}"/>
    <style>
        .input {
          color: #0e043a;
          }
    </style>
</head>

<div class="banner text-center">
    <div class="container">
        <h1 class="title" align="center">{{blog.blog_title}}</h1>
        <p>Published on {{blog.date_posted}}</p>
    </div>
    <br>
    <div class="wrapper">
        <div class="container-fluid">
            <div class="col-sm-3">
                <p>This post is about {{contestant.first_name}} performing {{song.song_name}}</p>
            </div>
            <div class="col-sm-3">
                <p>You are the {{blog.blog_views}}th Eurovision fan to read this post!</p>
                {%if blog.blog_likes !=0: %}
            </div>
            <div class="col-sm-3">
                <p>{{blog.blog_likes}} people liked this</p>

            </div>
            <div class="col-sm-3">
                {% endif %}
                {% if user != None : %}
                <p>Like this post:
                            <a href="{{ url_for('likeblog', contestant_id=blog.contestant_id) }}"><button id="like">like</button></a>
            </p>
                {% else %}
                <p>Like this post:
                    <a href="{{ url_for('login')}}"><button>like</button></a>
                </p>
                {% endif %}
            </div>
            </div>
            <br>
            <div class="blog-text-container col-md-12" >
                <p>{{blog.blog_text}}</p>
            </div>
<br>
<br>
<br>
            {% if comments%}
            <div class="comment-text-container col-md-12" >
                {% for comment in comments %}
                <p>{{comment.username}} | {{comment.time}} {{comment.text}}</p>
                <hr>
                {% endfor %}
            </div>
        {% endif %}
        </div>
<br>
<br>
<br>
    {% if user %}
    <h1>Leave a comment</h1>
        <div class="form">
            <form method="post" action="{{ comment_form_url }}">
                {{ form.hidden_tag() }}
                {{ form.name.label }}
                <div class="input">{{ form.name }}
                <br>

                {{ form.text.label }}
                <div class="input">
                    {{ form.text }}
                    </div>
                <br>
                <div class="input">
                {{ form.submit }}
                     </div>
                <br>
            </form>
                    {% else %}
                    <p> <a href="{{url_for('login')}}">Login</a> to Leave a comment</p>
                    {% endif %}

        </div>
    </div>

</div>


{% endblock %}