{% extends "layout.html" %}
{% block body_content %}
<h1>{{blog.blog_title}}</h1>
<p>Published on {{blog.date_posted}}</p>
<p>This post is about {{contestant.first_name}} performing {{song.song_name}}</p>
<p>You are number {{blog.blog_views}} Eurovision fan to read this post!</p>
 {%if blog.blog_likes !=0: %}
            <p>{{blog.blog_likes}} people liked this</p>
             {% endif %}
 {% if user != None : %}
<p>Like this post:
                <a href="{{ url_for('likeblog', contestant_id=blog.contestant_id) }}"><button id="like">like</button></a>
            </p>
 {% else %}
    <p>Like this post:
                <button><a href="{{ url_for('login')}}">like</a></button>
            </p>
    {% endif %}

 <script src="{{url_for('static', filename='js/buttons.js')}}"></script>
<hr>
<p>{{blog.blog_text}}</p>

{% for comment in comments %}
<p>{{comment.time}} {{comment.text}}</p>
{% endfor %}

<h1>Leave a comment</h1>
<div class="form">
    <form method="post" action="{{ comment_form_url }}">
        {{ form.hidden_tag() }}
        {{ form.name.label }} {{ form.name }}
        <br>
        {{ form.text.label }} {{ form.text }}
        <br>
        {{ form.submit }}
        <br>
    </form>
</div>

{% endblock %}