{% extends "layout.html" %}
{% block body_content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/loginpagess.css')}}"/>
    <style>
        .input {
          color: #0e043a;
          }
    </style>
</head>


<div class="form">
    <h1 class="title">CONTACT US</h1>
    <form method="post" action="">
        {{ form.hidden_tag() }}
        {{ form.first_name.label }}
        <br>
            <div class="input">
                {{ form.first_name }}
            </div>
        <br>
        {{ form.last_name.label }}
        <br>
            <div class="input">
                {{ form.last_name }}
            </div>
        <br>
        {{ form.subject.label }}
        <br>
            <div class="input">
                {{ form.subject }}
            </div>
        <br>
        {{ form.message.label }}
        <br>
            <div class="input">
                {{ form.message }}
            </div>
        <br>
        <div class="input">
                {{ form.submit }}
        </div>
        <br>
    {{ message }}
    </form>
</div>
{% endblock %}