{% extends "layout.html" %}
{% block body_content %}

<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/homelayout.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/homeblog.css')}}"/>



</head>

<body>

    <div class="container-fluid col-md-12 bg-1 text-center">
        <div class="wrapper">
            <div class="">
                <h1 class="title">COUNTDOWN</h1>
                <div class="countdown-container">
                    <div>
                        <p id="days" class="big-text">0</p>
                        <span>Days</span>
                    </div>
                    <div>
                        <p id="hours" class="big-text">0</p>
                        <span>Hours</span>
                    </div>
                    <div>
                        <p id="mins" class="big-text">0</p>
                        <span>Minutes</span>
                    </div>
                    <div>
                        <p id="secs" class="big-text">0</p>
                        <span>Seconds</span>
                    </div>
                </div>
                <h1 class="title">UNTIL EUROVISION 2021</h1>
            </div>
            <script src="{{url_for('static', filename='js/countdown.js')}}"/></script>
        </div>
    </div>



    <div class="featured-posts-container bg-1 text-center">
        <h1 class="title" align="center">Blogs</h1>
        {%for post in blogs: %}
        <br>
        <div class="wrapper">
                <div class="featured-post">
                    <h2 class="blog-title"><a href="{{url_for('blogpost1', contestant_id=post.contestant_id)}}">{{post.blog_title}}</a></h2>
                        <p>{{post.date_posted}}</p>
                        <p class="blog-text">This post is about {{contestant.query.filter_by(contestant_id=post.contestant_id).first().first_name}} from {{contestant.query.filter_by(contestant_id=post.contestant_id).first().country}}
                     performing {{song.query.filter_by(contestant_id=post.contestant_id).first().song_name}}</p>
                        <p>You are the {{post.blog_views}}th Eurovision fan to read this post!</p>
                        {%if post.blog_likes !=0: %}
                        <p>{{post.blog_likes}} people liked this</p>
                         {% endif %}
                        <p>Like this post:
                            <button><a href="{{ url_for('likeblog', contestant_id=post.contestant_id) }}">like</a></button>
                        </p>
                        <p>{{post.blog_text}}</p>
                </div>
        </div>
        {% endfor %}
        <hr>
        </div>
    </div>
</body>

{% endblock %}

