{% extends "layout.html" %}
{% block body_content %}

<h1 class="title" align="center">Leader Board</h1>
<hr>
<div class="leaderboard-container" align="center">
{%for contestant in contestants_list: %}
<div class="leaderboard-item">

<h2>{{song.query.filter_by(contestant_id=contestant.contestant_id).first().song_name}}</h2>
<p> Performed by {{contestant.first_name}} {{contestant.last_name}} ({{contestant.pronoun}})
    <br>
Country: {{contestant.country}}
</p>
 {%if (song.query.filter_by(contestant_id=contestant.contestant_id).first().song_likes) != None: %}
            <p>{{song.query.filter_by(contestant_id=contestant.contestant_id).first().song_likes}} people liked this</p>
             {% endif %}
    {% if user != None : %}
<p>Like this post:
                <button><a href="{{ url_for('likesong', contestant_id=contestant.contestant_id) }}">like</a></button>
            </p>
    {% else %}
    <p>Like this post:
                <button><a href="{{ url_for('login')}}">like</a></button>
            </p>
    {% endif %}

<hr>
    </div>
    {% endfor %}
      </div>
{% endblock %}