{% extends "layout.html" %}
{% block body_content %}

<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/loginpagess.css')}}"/>
    <style>
        .input {
          color: #0e043a;
          }
    </style>
</head>


<div class="form">
    <h1 class="title">REGISTER</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        <div class="input">
            {{ form.name }}
        </div>
        <br>
        {{ form.username.label }}
        <div class="input">
            {{ form.username }}
        </div>
        <br>
        {{ form.password.label }}
        <div class="input">
            {{ form.password }}
        </div>
        <br>
        <div class="input">
            {{ form.submit }}
        </div>
        <br>
        {{ message }}
    </form>
</div>
{% endblock %}
